@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-cinzel: 'Cinzel', serif;
  --font-roboto: 'Roboto', sans-serif;
}